.form-heading-discovery {
    color:rgba(253,233,223,1);
}

.discovery-form-background {
 background-color:  rgb(169, 136, 156);
}

.discovery-button {
background-color:rgba(253,233,223,1);
color:#5b6490 ;
}




@media screen and (min-width: 1351px){
    .book-cover {
        height: 220px;
        width: 187px    
  }
  .book-button {
    width: 187px
}
}
@media screen and (max-width: 1350px){
    .book-cover {
        height: 200px;
        width: 170px    
  }
    .book-button {
        width: 170px
    }
}

  @media screen and (max-width: 916px){
    .book-cover {
        height: 180px; 
        width: 153px 
  }
    .book-button {
        width: 153px;
    }

}






.book-button {
    display: inline-block;
    border-radius: 4px;
    background: rgb(50,61,113);
background: linear-gradient(90deg, rgba(50,61,113,1) 0%, rgba(129,137,176,1) 52%, rgba(50,61,113,1) 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 3px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }
  
  .book-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .book-button span:after {
    content: '♡';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .book-button:hover span {
    padding-right: 25px;
  }
  
  .book-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .book-container {
    width: 600px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .grid-books {
    display: block;
    margin-left: 10px;
    margin-right: auto
  }

.search-grid {
    border-color: #5b6490;
    border-radius: 5px;
}

