.form-heading-discovery {
    color:rgba(253,233,223,1);
}

.discovery-form-background {
 background-color:  rgb(169, 136, 156);
}

.discovery-button {
background-color:rgba(253,233,223,1);
color:#5b6490 ;
}
