.landing-title {
    color: rgb(148, 103, 103);
}

.form-background-landing {
    background-color: rgb(147, 124, 124) ;
}

.landing-text {
    color:rgb(109, 83, 83); 
    background-color:  rgb(235, 217, 217);
}