.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer-text {

    color: #547b7d;
    background: rgb(147,173,162);
background: linear-gradient(90deg, rgba(147,173,162,1) 0%, rgba(215,226,221,1) 52%, rgba(147,173,162,1) 88%);

}
