.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer-text {

color: #085088;
background: rgb(15, 95, 47);
background: linear-gradient(90deg, rgb(51, 94, 76) 0%, rgba(215,226,221,1) 52%, rgba(147,173,162,1) 88%);

}
